@font-face {
    font-family: 'SofiaPro';
    src: url('./public/fonts/SofiaProRegular.woff') format('woff');
}

*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
body{
    background-color:#000;
    color: #fff;
    font-family: SofiaPro;
}
.header-menu-wrapper{
    background-color: #111;
}
.container {
    display: flex;
    align-items: center;
    padding: 2%;
}
.logo {
    display: flex;
    justify-content: flex-start;
    flex: 1 0 18%;
}

.nav-drop{
    flex: 3 0 20%;
}

.header-menu{ 
    display: flex;
    font-size: 125%;
    font-weight: 400;
    /* padding-left: 2%; */
} 
.menu-item{
    /* padding-left: 2%; */
    margin-right: 5%;
    margin-left: 5%;
    list-style-type: none;
}

.social{
    display: flex;
    flex: 2 0 10%;
    justify-content: flex-end;
 } 

/* .intro_game-intro .container{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
.intro_bg img{
    width: 100vw; /* Set container width to viewport width */
    height: 100vh; /* Set container height to viewport height */
    overflow: hidden;
}
