
            /* section - 1 */

.intro_game-intro{
    position: relative;
}
 
 .intro_game-intro
 .container{
    position: absolute;
    display: inline-block;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

.trailer-btn {
    display: flex;
    justify-content: center;
 }
 .btn{
    background-color: #2d75b6;
    color: #fff;
    padding: 2% 6%  2%  6%;
    border-radius: 25px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold ;
    margin-top: 5%;
}
/* .intro_bg{
    position: relative;
 }  */
 
 .intro_bg img{
     width: 100%;
     overflow: hidden;
     object-fit: contain;
     
 }
 .intro-image-cover{
     position: absolute;
     left: 0;
     bottom: 0;
     overflow: hidden;
     object-fit: contain;
 }
 
            /* section - 2 */

 .platforms > .container{
     position: relative;
     padding: 5%;
     /* align-items: center; */
 }
 .platforms > .container > .grid{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
    }
    .ico-star{
        position: absolute;
        right: 100px;
        top: 0px;
    }
    .platform-block{
        margin:4px 4px 4px 4px ;
    }

            /* section - 3 */

.intro-headline > .container{
    position: relative;
 }
 .intro-headline-holder{
     margin: 0px 5% 6% 0px;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .intro-headline-holder > h2{
     font-size:3rem;
     text-align: center;
     padding: 2%;
 }
 .intro-headline-holder > p{
     text-align:  center;
     font-size:30px;
     width: 60%;
    }
 
 .imposter-one {
     position: absolute;
     overflow: hidden;
     top: 30px;
     left:-60px;
     width: 150px;
 }
 .imposter-two {
     position: absolute;
     overflow: hidden;
     top :200px;
     right:0px;
     width: 100px;
 }
 .ico-star-1{
     top: 40px;
     right:50px ;
    }
    .ico-star-2{
        left: 250px;
     top:250px;
 }
 .ico-star-3{
     left: 200px;
     top: 50px;
 }
 .ico-star-4{
     right:150px ;
     
 }
 .iframe-video{
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 5%;
 }

            /* section - 3 */
.news{
    /* display: flex; */
    /* flex-shrink: 0;
    flex-grow: 1; */
    /* padding: 5rem; */
    padding-left:15%;
    padding-top: 5% ;
    padding-bottom: 5% ;
    padding-right:15%;
    /* margin: 0% 20% 5% 20%; */
}

.header-container{
    display: flex;
    width: inherit;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 20px;
}

.header-container > .heading{
    font-size: 2rem;
}
/* .line{
    min-width: 2rem;
    height: 2px;
    background-color: red;
} */
.label-btn{
    display: inline-block;
    margin-top: 1%;
    font-size: 1.5rem;
}

.news-grid{
    display: flex;
    justify-content: center;
    padding-left: 3%;
}
.news-card{

    vertical-align: top;
}

.news-image > img{
    border-radius: 20px;
}
.news-image > img:hover{
}

.news-stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3%;
    margin: 3%;
    max-width: 350px;
}

.block-link{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 4%;
}
.block-link ._active{
    padding: 3px;
    background-color: #c61111;
    
}
.news-link{
    display:flex ;
    font-size: 25px;
    max-width: 90%;
    line-height: 34px;
}

.merchandise{
    position: relative;
}
.merch-head-holder{
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 10%;
}
.merch-heading{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.merch-para{
    font-size: 1.5rem;
}
.merch-head-holder .shop-btn{
    padding: 0% ;
    padding: 1rem 3rem  1rem 3rem;
    border-radius: 2rem;
}

.bg-image-merchandise >img{
    width: 100%;
    height: 50%;
    object-fit: fill;
    filter:brightness(50%);
}

.awards{
    padding-left:15%;
    padding-top: 5% ;
    padding-bottom: 5% ;
    padding-right:15%;
}
.awards .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 34px;
    row-gap: 34px;
}
.awards-card {
    text-align: center;
    opacity: .87;
    width: 100%;
    height: 150px;
    padding: 3rem;
    border-radius: 10px;
    background-color: rgba(255,255,255,.1) ;
}
.awards-card > h6 {
    font-size: 1rem;
    margin-bottom: 3%;
}

.awards-card > span {
    color: #d3c7b5;
}

@media screen and (min-width: 400px){
    .awards .container{
        row-gap: 30px;
        grid-template-columns: 1fr ;
    }
    .awards-card > h6{
        font-size: 1rem;
    }
}

@media screen and (min-width: 1200px){
    .awards .container{
        row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr ;
    }
}
@media screen and (min-width: 1700px){
    .awards .container{
        row-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    }

}

